<html>
<head>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.js" integrity="sha512-klc+qN5PPscoGxSzFpetVsCr9sryi2e2vHwZKq43FdFyhSAa7vAqog/Ifl8tzg/8mBZiG2MAKhyjH5oPJp65EA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/viz.js" integrity="sha512-vnRdmX8ZxbU+IhA2gLhZqXkX1neJISG10xy0iP0WauuClu3AIMknxyDjYHEpEhi8fTZPyOCWgqUCnEafDB/jVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/full.render.js" integrity="sha512-1zKK2bG3QY2JaUPpfHZDUMe3dwBwFdCDwXQ01GrKSd+/l0hqPbF+aak66zYPUZtn+o2JYi1mjXAqy5mW04v3iA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var app = angular.module("apHintMapApp", []);
        app.controller("myCtrl", ["$scope", "$http", function ($scope, $http) {
            $scope.trackerUUID = "";
            $scope.pendingRequests = 0;

            dataPackageCache = {};
            staticTrackers = {};

            $scope.currentTracker = {
                hints: [],
                slotFilter: "",
                slots: []
            };

            $scope.UpdateLink = function () {
                if (!/^[a-z0-9]{22}$/i.test($scope.trackerUUID)) { return; }
                LoadStaticTracker($scope.trackerUUID);
                LoadTracker($scope.trackerUUID);
            }

            function LoadStaticTracker(uuid) {
                if (uuid in staticTrackers) { return; }
                setTimeout(function () {
                    $http.get(`https://archipelago.gg/api/static_tracker/${uuid}`).then(function (s) {
                        staticTrackers[uuid] = s.data;
                        Object.values(s.data.datapackage).map(v => v.checksum).map(LoadDataPackage);
                        $scope.pendingRequests--;
                    }, function (e) {
                        console.log(e);
                        $scope.pendingRequests--;
                    });
                }, $scope.pendingRequests++ * 1000);
            }

            function LoadDataPackage(checksum) {
                if (checksum in dataPackageCache) { return; }
                setTimeout(function () {
                    $http.get(`https://archipelago.gg/api/datapackage/${checksum}`).then(function (s) {
                        s.data.location_id_to_name = Object.entries(s.data.location_name_to_id).reduce(function (acc, kvp) {
                            acc[kvp[1]] = kvp[0]
                            return acc;
                        }, {});
                        s.data.item_id_to_name = Object.entries(s.data.item_name_to_id).reduce(function (acc, kvp) {
                            acc[kvp[1]] = kvp[0]
                            return acc;
                        }, {});
                        dataPackageCache[checksum] = s.data;
                        $scope.pendingRequests--;
                    }, function (e) {
                        console.log(e);
                        $scope.pendingRequests--;
                    });
                }, $scope.pendingRequests++ * 1000);
            }

            function LoadTracker(uuid) {
                setTimeout(function () {
                    $http.get(`https://archipelago.gg/api/tracker/${uuid}`).then(function (s) {
                        WaitOnPending(function () {
                            ProcessTracker(uuid, s.data);
                        });
                        $scope.pendingRequests--;
                    }, function (e) {
                        console.log(e);
                        $scope.pendingRequests--;
                    });
                }, $scope.pendingRequests++ * 1000);
            }

            function WaitOnPending(callback) {
                if (!$scope.pendingRequests) { callback(); return; }
                setTimeout(WaitOnPending, 250, callback);
            }

            function ProcessTracker(uuid, trackerData) {
                var doneSlots = new Set(trackerData.player_status.filter(s => s.status == 30).map(s => s.player));
                var rawHints = trackerData.hints.reduce(function (acc, p) {
                    p.hints.reduce(function (acc, h) {
                        if (h[1] != p.player) { return acc; } // Only process if current player is finding player to prevent duplicates
                        acc.push({
                            "receiving_player": h[0],
                            "finding_player": h[1],
                            "location": h[2],
                            "item": h[3],
                            "found": h[4],
                            "entrance": h[5],
                            "item_flags": h[6],
                            "status": h[7]
                        });
                        return acc;
                    }, acc);
                    return acc;
                }, []);

                var undoneHints = rawHints.filter(h => !doneSlots.has(h.receiving_player));
                var unfoundHints = undoneHints.filter(h => !h.found);
                var finderCounts = unfoundHints.reduce(function (acc, h) {
                    if (!acc[h.finding_player]) { acc[h.finding_player] = 1; }
                    else acc[h.finding_player]++;
                    return acc;
                }, {});
                var usefulHints = unfoundHints.filter(h => finderCounts[h.finding_player] <= 25);

                var playerGames = staticTrackers[uuid].player_game.reduce(function (acc, p) {
                    acc[p.player] = p.game;
                    return acc;
                }, {});
                var playerAliases = trackerData.aliases.reduce(function (acc, p) {
                    if (p.alias) { acc[p.player] = p.alias; }
                    return acc;
                }, {});

                var slots = new Set();
                var i = 0;
                var hints = usefulHints.map(h => {
                    try {
                        // TODO: Properly implement groups
                        var findingGameDataPackage = dataPackageCache[staticTrackers[uuid].datapackage[playerGames[h.finding_player]].checksum];
                        var receivingGameDataPackage = dataPackageCache[staticTrackers[uuid].datapackage[playerGames[h.receiving_player]].checksum];

                        var receivingPlayerName = h.receiving_player in playerAliases ? `${playerAliases[h.receiving_player]}\n(Player ${h.receiving_player})` : `Player ${h.receiving_player}\n(${playerGames[h.receiving_player]})`;
                        var findingPlayerName = h.finding_player in playerAliases ? `${playerAliases[h.finding_player]}\n(Player ${h.finding_player})` : `Player ${h.finding_player}\n(${playerGames[h.finding_player]})`;
                        var locationName = findingGameDataPackage.location_id_to_name[h.location];
                        var itemName = receivingGameDataPackage.item_id_to_name[h.item];

                        slots.add(receivingPlayerName);
                        slots.add(findingPlayerName);
                        return {
                            "Id": i++,
                            "Receiver": receivingPlayerName,
                            "Finder": findingPlayerName,
                            "Location": locationName,
                            "Item": itemName
                        };

                    } catch {
                        return undefined;
                    }
                }).filter(Boolean);

                $scope.currentTracker.slots = [...slots].sort();
                $scope.currentTracker.slotFilter = $scope.currentTracker.slotFilter in slots ? $scope.currentTracker.slotFilter : $scope.currentTracker.slots[0];
                $scope.currentTracker.hints = hints;
                $scope.$apply();

                $scope.DrawGraph();
            }

            $scope.DrawGraph = function () {
                var hintIDs = undefined;
                if ($scope.currentTracker.slotFilter) {
                    hintIDs = new Set();
                    var findersToCheck = [$scope.currentTracker.slotFilter];
                    while (findersToCheck.length) {
                        var finder = findersToCheck.pop();
                        for (var hint of $scope.currentTracker.hints) {
                            if (hintIDs.has(hint.Id)) { continue; }
                            if (hint.Finder == finder) {
                                hintIDs.add(hint.Id);
                                findersToCheck.push(hint.Receiver);
                            }
                        }
                    }

                    var receiversToCheck = [$scope.currentTracker.slotFilter];
                    while (receiversToCheck.length) {
                        var receiver = receiversToCheck.pop();
                        for (var hint of $scope.currentTracker.hints) {
                            if (hintIDs.has(hint.Id)) { continue; }
                            if (hint.Receiver == receiver) {
                                hintIDs.add(hint.Id);
                                receiversToCheck.push(hint.Finder);
                            }
                        }
                    }
                }

                var nodeStrings = $scope.currentTracker.hints
                    .filter(h => !hintIDs || hintIDs.has(h.Id))
                    .map(h => `"${h.Finder}" -> "${h.Receiver}" [label="${h.Location}\n${h.Item}"]`);
                var graphString = `digraph { ${$scope.currentTracker.slotFilter ? "" : "rankdir=LR;"} ${nodeStrings.join(";")}}`;

                var viz = new Viz();
                viz.renderImageElement(graphString).then(img => {
                    document.getElementById("graph").innerHTML = "";
                    document.getElementById("graph").appendChild(img);
                });
            }
        }]);</script>
</head>
<body>
    <div class="page-container">
        <div class="page">
            <div class="left-pane">
                <nav class="nav-tree">
                    <a href="/">Home</a>
                    <a href="/CelesteYAML">Celeste (OW) YAML</a>
                    <a href="/APHintMap">AP Hint Map</a>
                </nav>
                <footer class="copyright-policy">
                    &copy; 2026 - Zeeveez
                </footer>
            </div>

            <main class="main-pane">
                <div ng-app="apHintMapApp" ng-controller="myCtrl">
                    <h1>Archipelago Hint Map</h1>
                    <form>
                        <div>
                            <span>Tracker UUID: </span><input type="text" ng-model="trackerUUID" ng-disabled="pendingRequests > 0" ng-change="UpdateLink()" />
                        </div>
                        <div>
                            <span>Slot Filter: </span><select type="text" ng-model="currentTracker.slotFilter" ng-options="slot as slot for slot in currentTracker.slots" ng-disabled="pendingRequests > 0" ng-change="DrawGraph()">
                                <option value="">No Filter</option>
                            </select>
                        </div>
                    </form>
                    <div ng-if="pendingRequests" style="width:100%;display:flex;flex-direction:row;justify-content:space-around;font-size:24px"><p>Loading data... ({{pendingRequests}} requests remaining.)</p></div>
                    <div id="graph" style="background:white;max-height:800px;overflow:scroll"></div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
