<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script type="module">
        import * as Viz from "https://cdn.jsdelivr.net/npm/@viz-js/viz@3.30.0";
        window.Viz = Viz;
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.js" integrity="sha512-klc+qN5PPscoGxSzFpetVsCr9sryi2e2vHwZKq43FdFyhSAa7vAqog/Ifl8tzg/8mBZiG2MAKhyjH5oPJp65EA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var app = angular.module("apHintMapApp", []);
        app.controller("myCtrl", ["$scope", "$http", function ($scope, $http) {
            function QueueRequest(url, callback) {
                setTimeout(function () {
                    $http.get(url).then(function (s) {
                        $scope.pendingRequests--;
                        callback(s.data);
                    }, function (e) {
                        $scope.pendingRequests--;
                        console.log(e);
                    });
                }, $scope.pendingRequests++ * 1000);
            }

            function WaitOnPending(callback) {
                if (!$scope.pendingRequests) { callback(); return; }
                setTimeout(WaitOnPending, 250, callback);
            }

            function ReverseDict(d) {
                return Object.entries(d).reduce(function (acc, kvp) {
                    acc[kvp[1]] = kvp[0];
                    return acc;
                }, {});
            }

            function Hint(rawHint) {
                return {
                    receivingPlayer: rawHint[0],
                    findingPlayer: rawHint[1],
                    location: rawHint[2],
                    item: rawHint[3],
                    found: rawHint[4],
                    entrance: rawHint[5],
                    itemFlags: rawHint[6],
                    status: rawHint[7],
                    combinedStatus: rawHint[6] + rawHint[7],

                    Statuses: {
                        UNSPECIFIED: 0,
                        ADVANCEMENT: 1,
                        USEFUL: 2,
                        TRAP: 4,
                        NO_PRIORITY: 10,
                        AVOID: 20,
                        PRIORITY: 30,
                        FOUND: 40
                    },

                    GetPlayerName: function (player, playerAliases, playerGames) {
                        return player in playerAliases
                            ? `${playerAliases[player]}\n(Player ${player})`
                            : `Player ${player}\n(${playerGames[player]})`;
                    },
                    GetReceivingPlayerName: function (playerAliases, playerGames) {
                        return this.GetPlayerName(this.receivingPlayer, playerAliases, playerGames);
                    },
                    GetFindingPlayerName: function (playerAliases, playerGames) {
                        return this.GetPlayerName(this.findingPlayer, playerAliases, playerGames);
                    },
                    GetColor: function () {
                        switch (this.combinedStatus) {
                            case this.Statuses.UNSPECIFIED:
                                return "#000000";
                            case this.Statuses.ADVANCEMENT:
                                return "#00ff00";
                            case this.Statuses.USEFUL:
                                return "#3567ff";
                            case this.Statuses.ADVANCEMENT + this.Statuses.USEFUL:
                                return "#00ff00";
                            case this.Statuses.TRAP:
                                return "#ff5160";
                            case this.Statuses.ADVANCEMENT + this.Statuses.TRAP:
                                return "#00ff00";
                            case this.Statuses.USEFUL + this.Statuses.TRAP:
                                return "#3567ff";
                            case this.Statuses.ADVANCEMENT + this.Statuses.USEFUL + this.Statuses.TRAP:
                                return "#00ff00";
                            case this.Statuses.NO_PRIORITY:
                                return "#3567ff";
                            case this.Statuses.AVOID:
                                return "#ff5160";
                            case this.Statuses.PRIORITY:
                                return "#00ff00";
                            case this.Statuses.FOUND:
                                return "#000000";
                        }
                        return "#000000";
                    },
                    GetVisibility: function (visibilitySettings) {
                        switch (this.combinedStatus) {
                            case this.Statuses.UNSPECIFIED:
                                return visibilitySettings.unspecified;
                            case this.Statuses.ADVANCEMENT:
                                return visibilitySettings.advancement;
                            case this.Statuses.USEFUL:
                                return visibilitySettings.useful;
                            case this.Statuses.ADVANCEMENT + this.Statuses.USEFUL:
                                return visibilitySettings.advancement_useful;
                            case this.Statuses.TRAP:
                                return visibilitySettings.trap;
                            case this.Statuses.ADVANCEMENT + this.Statuses.TRAP:
                                return visibilitySettings.advancement_trap;
                            case this.Statuses.USEFUL + this.Statuses.TRAP:
                                return visibilitySettings.useful_trap;
                            case this.Statuses.ADVANCEMENT + this.Statuses.USEFUL + this.Statuses.TRAP:
                                return visibilitySettings.advancement_useful_trap;
                            case this.Statuses.NO_PRIORITY:
                                return visibilitySettings.no_priority;
                            case this.Statuses.AVOID:
                                return visibilitySettings.avoid;
                            case this.Statuses.PRIORITY:
                                return visibilitySettings.priority;
                            case this.Statuses.FOUND:
                                return visibilitySettings.found;
                        }
                        return true;
                    }
                }
            }

            var dataPackageDB = (function () {
                var db = null;
                var dbOpen = window.indexedDB.open("APHMDataStore", 1);
                dbOpen.onupgradeneeded = function (event) {
                    db = dbOpen.result;
                    var store = db.createObjectStore("DataPackageStore", { keyPath: "checksum" });
                }
                dbOpen.onsuccess = function (event) {
                    db = dbOpen.result;
                }

                function StoreDataPackage(dataPackage) {
                    console.log("Storing", dataPackage);
                    var tx = db.transaction("DataPackageStore", "readwrite");
                    var store = tx.objectStore("DataPackageStore");
                    var req = store.add(dataPackage);
                    req.onsuccess = function () { /* \o/ */ };
                    req.onerror = function (evt) {
                        console.log(evt);
                    };
                }

                function FetchDataPackage(checksum, successCallback, failCallback) {
                    var req = db
                        .transaction("DataPackageStore", "readonly")
                        .objectStore("DataPackageStore")
                        .get(checksum);
                    req.onsuccess = function (event) {
                        var res = event.target.result;
                        if (!res) {
                            failCallback();
                        } else {
                            successCallback(res);
                        }
                    }
                    req.onerror = function () {
                        failCallback();
                    }
                }

                return {
                    StoreDataPackage: StoreDataPackage,
                    FetchDataPackage: FetchDataPackage
                }
            })();

            $scope.pendingRequests = 0;

            var dataPackages = {};
            var staticTrackers = {};

            $scope.trackerUUID = "";
            $scope.currentTracker = {
                hints: [],
                slotFilter: "",
                slots: []
            };
            $scope.settings = {
                visibility: {
                    advancement: true,
                    useful: false,
                    advancement_useful: true,
                    trap: false,
                    advancement_trap: true,
                    useful_trap: false,
                    advancement_useful_trap: false,
                    no_priority: false,
                    avoid: false,
                    priority: true,
                    found: false,
                },
                maxHintsPerWorld: 5
            }

            $scope.UpdateLink = function () {
                if (!/^[a-z0-9]{22}$/i.test($scope.trackerUUID)) { return; }
                LoadStaticTracker($scope.trackerUUID);
                LoadTracker($scope.trackerUUID);
            }

            function LoadStaticTracker(uuid) {
                if (uuid in staticTrackers) { return; }
                QueueRequest(`https://archipelago.gg/api/static_tracker/${uuid}`, function (data) {
                    staticTrackers[uuid] = data;
                    Object.values(data.datapackage).map(v => v.checksum).map(LoadDataPackage);
                });
            }

            function LoadDataPackage(checksum) {
                if (checksum in dataPackages) { return; }
                dataPackageDB.FetchDataPackage(checksum,
                    function (dataPackage) {
                        dataPackages[checksum] = dataPackage;
                    },
                    function () {
                        QueueRequest(`https://archipelago.gg/api/datapackage/${checksum}`, function (data) {
                            data.location_id_to_name = ReverseDict(data.location_name_to_id);
                            data.item_id_to_name = ReverseDict(data.item_name_to_id);
                            dataPackages[checksum] = data;
                            dataPackageDB.StoreDataPackage(data);
                        });
                    }
                );
            }

            function LoadTracker(uuid) {
                QueueRequest(`https://archipelago.gg/api/tracker/${uuid}`, function (data) {
                    WaitOnPending(function () {
                        ProcessTracker(uuid, data);
                    });
                });
            }

            function LoadTrackerHints(trackerData) {
                return trackerData.hints.reduce(function (acc, p) {
                    p.hints.reduce(function (acc, h) {
                        var hint = Hint(h);
                        if (hint.findingPlayer == p.player) { return acc; } // Only process if current player is finding player to prevent duplicates
                        if (hint.findingPlayer == hint.receivingPlayer) { return acc; } // Hide self-referential hints
                        acc.push(hint);
                        return acc;
                    }, acc);
                    return acc;
                }, []);
            }

            function ProcessTracker(uuid, trackerData) {
                var doneSlots = new Set(trackerData.player_status.filter(s => s.status == 30).map(s => s.player));
                var rawHints = LoadTrackerHints(trackerData);
                var finderCounts = {};
                var filteredHints = rawHints
                    .filter(h =>
                        !h.found
                        && h.GetVisibility($scope.settings.visibility)
                        && !doneSlots.has(h.receivingPlayer))
                    .filter(function (h) {
                        finderCounts[h.findingPlayer] = (finderCounts[h.findingPlayer] || 0) + 1;
                        return finderCounts[h.findingPlayer] <= $scope.settings.maxHintsPerWorld;
                    }, {});

                var playerGames = staticTrackers[uuid].player_game.reduce(function (acc, p) {
                    acc[p.player] = p.game;
                    return acc;
                }, {});
                var playerAliases = trackerData.aliases.reduce(function (acc, p) {
                    if (p.alias) { acc[p.player] = p.alias; }
                    return acc;
                }, {});

                var slots = filteredHints.reduce(function (acc, h) {
                    acc.add(h.GetReceivingPlayerName(playerAliases, playerGames));
                    acc.add(h.GetFindingPlayerName(playerAliases, playerGames));
                    return acc;
                }, new Set());

                var i = 0;
                var hints = filteredHints.map(h => {
                    try {
                        // TODO: Properly implement groups
                        var findingGameDataPackage = dataPackages[staticTrackers[uuid].datapackage[playerGames[h.findingPlayer]].checksum];
                        var receivingGameDataPackage = dataPackages[staticTrackers[uuid].datapackage[playerGames[h.receivingPlayer]].checksum];

                        var receivingPlayerName = h.GetReceivingPlayerName(playerAliases, playerGames);
                        var findingPlayerName = h.GetFindingPlayerName(playerAliases, playerGames);
                        var locationName = findingGameDataPackage.location_id_to_name[h.location];
                        var itemName = receivingGameDataPackage.item_id_to_name[h.item];
                        return {
                            "Id": i++,
                            "Receiver": receivingPlayerName,
                            "Finder": findingPlayerName,
                            "Location": locationName,
                            "Item": itemName,
                            "Color": h.GetColor(),
                        };

                    } catch {
                        return undefined;
                    }
                }).filter(Boolean);

                $scope.currentTracker.slots = [...slots].sort();
                $scope.currentTracker.slotFilter = $scope.currentTracker.slotFilter in slots ? $scope.currentTracker.slotFilter : $scope.currentTracker.slots[0];
                $scope.currentTracker.hints = hints;
                $scope.$apply();

                $scope.DrawGraph();
            }

            $scope.DrawGraph = function () {
                $scope.error = undefined;
                document.getElementById("graph").innerHTML = "";

                var hintIDs = undefined;
                if ($scope.currentTracker.slotFilter) {
                    hintIDs = new Set();
                    var findersToCheck = [$scope.currentTracker.slotFilter];
                    while (findersToCheck.length) {
                        var finder = findersToCheck.pop();
                        for (var hint of $scope.currentTracker.hints) {
                            if (hintIDs.has(hint.Id)) { continue; }
                            if (hint.Finder == finder) {
                                hintIDs.add(hint.Id);
                                findersToCheck.push(hint.Receiver);
                            }
                        }
                    }

                    var receiversToCheck = [$scope.currentTracker.slotFilter];
                    while (receiversToCheck.length) {
                        var receiver = receiversToCheck.pop();
                        for (var hint of $scope.currentTracker.hints) {
                            if (hintIDs.has(hint.Id)) { continue; }
                            if (hint.Receiver == receiver) {
                                hintIDs.add(hint.Id);
                                receiversToCheck.push(hint.Finder);
                            }
                        }
                    }
                }

                var nodeStrings = $scope.currentTracker.hints
                    .filter(h => !hintIDs || hintIDs.has(h.Id))
                    .map(h => `"${h.Finder}" -> "${h.Receiver}" [label="${h.Location}\n${h.Item}" color="${h.Color}"]`);
                var graphString = `digraph {
                            ${$scope.currentTracker.slotFilter ? "" : "rankdir=LR;"}
                            ${$scope.currentTracker.slotFilter ? `{ "${$scope.currentTracker.slotFilter}" [color=red, shape=rect] }` : ""}
                            ${nodeStrings.join(";")}
                        }`;
                RenderGraphString(graphString);
            }

            function RenderGraphString(graphString) {
                Viz.instance()
                    .then(viz => {
                        svg = viz.renderSVGElement(graphString);
                        const data = (new XMLSerializer()).serializeToString(svg);
                        const svgBlob = new Blob([data], { type: 'image/svg+xml;charset=utf-8' });
                        const url = URL.createObjectURL(svgBlob);
                        const img = new Image();
                        img.src = url;
                        img.onload = function () {
                            const canvas = document.createElement('canvas');
                            canvas.width = img.width;
                            canvas.height = img.height;

                            const ctx = canvas.getContext('2d');
                            ctx.drawImage(img, 0, 0);
                            document.getElementById("graph").appendChild(canvas);
                        };
                    }
                    ).catch(e => {
                        $scope.error = e;
                    });
            }
        }]);</script>
</head>
<body>
    <div class="page-container">
        <div class="page">
            <div class="left-pane">
                <nav class="nav-tree">
                    <a href="/">Home</a>
                    <a href="/CelesteYAML">Celeste (OW) YAML</a>
                    <a href="/APHintMap">AP Hint Map</a>
                </nav>
                <footer class="copyright-policy">
                    &copy; 2026 - Zeeveez
                </footer>
            </div>

            <main class="main-pane">
                <div ng-app="apHintMapApp" ng-controller="myCtrl">
                    <h1>Archipelago Hint Map</h1>
                    <form>
                        <div>
                            <span>Tracker UUID: </span>
                            <input type="text" ng-model="trackerUUID" ng-disabled="pendingRequests > 0" ng-change="UpdateLink()" />
                        </div>
                        <div>
                            <span>Slot Filter: </span>
                            <select type="text" ng-model="currentTracker.slotFilter" ng-options="slot as slot for slot in currentTracker.slots" ng-disabled="pendingRequests > 0" ng-change="DrawGraph()">
                                <option value="">No Filter</option>
                            </select>
                        </div>
                    </form>
                    <div ng-if="pendingRequests" style="width:100%;display:flex;flex-direction:row;justify-content:space-around;font-size:24px">
                        <p>Loading data... ({{pendingRequests}} requests remaining.)</p>
                    </div>
                    <div ng-if="error" style="width:100%;display:flex;flex-direction:row;justify-content:space-around;font-size:24px">
                        <p>
                            Error generating graph:
                            <br />
                            <br />{{error}}
                        </p>
                    </div>
                    <div id="graph" style="background:white;height:800px;overflow:scroll"></div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
